.email,
.name {
  text-align: center;
  font-size: 12px;
  width: 16%;
  color: #212529;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
.email:hover,
.name:hover {
  color: #f8ede3;
}
.footer {
  margin-top: 300px;
  margin-right: 25px;
}
